---
import DocumentationLayout from "../../layouts/DocumentationLayout.astro";


---

<DocumentationLayout title="Documentation" listOfTitles={[]}>
	<div class="max-w-screen-xl mx-auto">
		<h1 class="text-8xl font-extrabold">Documentation</h1>
	</div>
	<div class="hero bg-accent w-full pb-12">

	</div>
</DocumentationLayout>