---
import { getCollection, type CollectionEntry } from 'astro:content';
import DocumentationHeaderAppendix from '../components/DocumentationHeaderAppendix.svelte';
import Footer from '../components/Footer.svelte';
import Header from '../components/Header.svelte';
import "../style/global.css"
interface Props {
	title: string;
	listOfTitles: CollectionEntry<"docs">[]
}

const { title, listOfTitles } = Astro.props;

const collection = await getCollection("docs")
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full h-screen">
		<Header client:load></Header>
		<DocumentationHeaderAppendix listOfTitles={listOfTitles} collection={collection}></DocumentationHeaderAppendix>
		<main class="my-8 w-full max-w-full">
			<div class="prose prose-lg md:prose-xl prose-pre:my-0 prose-pre:py-0 prose-pre:leading-5 w-full max-w-full">
				<slot />
			</div>
		</main>
		<Footer client:load></Footer>
	</body>
</html>
